<!DOCTYPE html>
<html>

<head>
    <%- include('partials/header.ejs'); %>
</head>

<body style="height: 100%;">
    <div style="margin: 20px;">
        <div class="row d-flex justify-content-center">
            <h1 class="main-title">Edit SVG</h1>
        </div>
        <div class="h-100">
            <div class="container h-100">
                <div class="row">
                    <div class="col-5 h-100" id="editor" style="position: relative; overflow-y: auto;">
                        <!-- <div class=""> -->
                        <!-- <div class="row t-3 h-40"> -->
                        <div class="d-flex w-100 justify-content-center">
                            <h5 class="main-title">Class and ID</h5>
                        </div>
                        <form class="w-100">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-edit" id="svg-id" placeholder="my_id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Class</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-edit" id="svg-class"
                                        placeholder="my_class" onchange="update_css();" onkeydown="update_css();">
                                </div>
                            </div>
                        </form>
                        <!-- </div> -->
                        <!-- <div class="row t-2 h-40"> -->
                        <div class="d-flex w-100 justify-content-center">
                            <h5 class="main-title">Class CSS</h5>

                        </div>
                        <form class="w-100">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <textarea id='svg-css' style="resize: none;" class="form-control"
                                        id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </form>
                        <!-- </div> -->
                        <!-- <div class="row t-1 h-20"> -->
                        <div class="d-flex w-100 justify-content-center">
                            <h5 class="main-title">Link</h5>
                        </div>
                        <form class="w-100">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control input-edit" placeholder="my_link"
                                        id='svg-link'>
                                </div>
                            </div>
                            <div class="form-group row">
                                <button id="btn-save" class="btn-upload w-100">Apply</button>
                            </div>
                            <div class="form-group row">
                                <button id="btn-save-server" class="btn-upload w-100">Save</button>
                            </div>
                            <div class="form-group row">
                                <button id="btn-download" class="btn-upload w-100">Download</button>
                            </div>
                        </form>
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
                    <div class="col-7">
                        <div class="svg-d-flex svg-flex-column">
                            <div class="svg-d-flex svg-flex-column svg-flex-grow-1">
                                <!-- <div class="svg-h-100 svg-flex-grow-1" style="background-color: blue;">a</div> -->
                                <embed id="svg-content" class="svg-container svg-flex-grow-1 w-100" type="image/svg+xml"
                                    src='svg/<%=file%>' />

                                <div class="" style="background: #303030;">
                                    <div style="float: right">
                                        <div class="svg-d-flex">
                                            <button type="button" id="btn-zoom-in"
                                                class="btn btn-info navbar-btn btn-zoom"
                                                style="padding-left: 1px !important;">
                                                <i class="fa fa-plus"></i>
                                                <span></span>
                                            </button>
                                            <button type="button" id="btn-zoom-out"
                                                class="btn btn-info navbar-btn btn-zoom">
                                                <i class="fa fa-minus"></i>
                                                <span></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <%- include('partials/scripts.ejs'); %>
    <script type="text/javascript">

        var file = '<%= file %>';

        $(document).ready(function () {

            request_data();

            $('#editor').css('max-height', `${$(window).height() - 130}px`);

            $('#btn-save').click((evt) => {
                set_id(evt);
            });

            $('#btn-download').click((evt) => {
                downloadString(generate_svg(), 'image/svg+xml', 'mySVG.svg');

            });

            $('#btn-save-server').click((evt) => {
                evt.preventDefault();
                Swal.fire({
                    title: "Saving...",
                    allowOutsideClick: () => !Swal.isLoading(),
                    onBeforeOpen: () => {
                        Swal.showLoading();
                        $.post(`/save/${file}`, { file: generate_svg(false, false), classes: JSON.stringify(classes_to_list(classes)), ids: JSON.stringify(ids_to_list(ids)) }, function (data) { })
                            .done(function (res) {
                                Swal.fire({
                                    title: `The SVG has been saved successfully`,
                                    icon: 'success',
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Ok'
                                }).then((result) => {

                                });
                            })
                            .fail(function (res) {
                                Swal.fire('Error', 'The changes could not be performed', 'error');
                            });
                    }
                });
            });

            $('#svg-content').height($(window).height() - 180);

            svgPanZoom('#svg-content', {
                zoomEnabled: true,
                controlIconsEnabled: true
            });

            $(window).resize(function () {
                $('#svg-content').height($(window).height() - 180);
                $('#editor').css('max-height', `${$(window).height() - 130}px`);
            });

            init_editor();

            $('#btn-zoom-in').click(() => {
                var panZoomTiger = svgPanZoom('#svg-content');
                panZoomTiger.zoomIn();
            });

            $('#btn-zoom-out').click(() => {
                var panZoomTiger = svgPanZoom('#svg-content');
                panZoomTiger.zoomOut();
            })

        });
        function request_data() {
            Swal.fire({
                title: "Loading...",
                allowOutsideClick: () => !Swal.isLoading(),
                onBeforeOpen: () => {
                    Swal.showLoading();
                    $.get(`/data/${file}`, {}, function (data) { })
                        .done(function (res) {
                            swal.close();
                            res.classes.forEach((obj)=>{
                                classes.set(obj.class, obj.style);
                            });
                            res.ids.forEach((obj)=>{
                                ids.set(obj.id, obj.link);
                            });
                        })
                        .fail(function (res) {
                            Swal.fire({
                                title: `Something went wrong :(`,
                                icon: 'error',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                window.location.replace("/");
                            });
                        });
                }
            });
        }
    </script>

    <script src="js/svg-pan-zoom.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>